@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --primary: #ede1d1;
  --secondary: #0e0e0e;
  --tertiary: #c4beb8;
  --quaternary: #353738;
  --transparent: #00000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: var(--tertiary);
  transition: all 0.5s ease;
  user-select: none;
}

.cinzel {
  font-family: 'Cinzel Decorative', serif;
}

.lato {
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cinzel Decorative', serif;
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  color: var(--primary);
}

@keyframes spinner-rotate {
  100% {
    transform: rotate(1turn);
  }
}

.spinner {
  position: absolute;
  z-index: 0;
  border-radius: 0px;
  overflow: hidden;
  padding: 2rem;

  &::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: var(--secondary);
    background: url('/images/gggrain.svg') center/cover no-repeat;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: 
      linear-gradient(var(--primary), var(--primary)),
      linear-gradient(var(--transparent), var(--transparent)),
      linear-gradient(var(--transparent), var(--transparent)),
      linear-gradient(var(--transparent), var(--transparent));
    animation: spinner-rotate 3s linear infinite;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 2px;
    top: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    background: var(--secondary);
    background: url('/images/gggrain.svg') center/700% no-repeat;
    border-radius: 4px;
  }
}

.loaded {
  &::before {
    background-position: center;
    background-size: 100%;
    animation-play-state: paused;
  }
}

.fadeOutbottom {
  opacity: 0;
  transform: translateY(100%);
}

html {
  body {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
    section {
      scroll-snap-align: start;
      width: 100%;
      flex-shrink: 0;
      padding: 3rem;
      background-color: var(--secondary);
    }
  }
}

.rotated-text {
  transform: rotateX(-60deg);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animated {
  animation: fadeOut 2s forwards;
  animation-timeline: scroll();
}

.animated {
  height: 300px;
  width: 300px;
  background-color: red;
}

.slide-text{
  width: 100%;
  *{
    font-family: 'Cinzel Decorative', serif;
    /* font-size: 1rem; */
    text-wrap: nowrap;
    text-align: center;
    width: 100%;
  }
}